<section class="container">
  <h1 class="main-heading"><%= title %></h1>
  <% if (user){ %>
  <p class="welcome">Welcome back <%= user.username %></p>
  <% } %>
  <section class="posts-container">
    <% if (posts) { %> <% posts.forEach(post => { %>
    <section class="post">
      <h3 class="post-heading"><%= post.title %></h3>
      <p class="post-body"><%= post.body %></p>
      <% if (user) { %> <% if (user.status === 'member' || user.isAdmin) { %>
      <span class="author">Author: <%= post.author.username %> </span>
      <span class="date">Date Posted: <%= date.format(post.date, 'yyyy-MM-dd h:mm a') %> </span>
      <% } %> <% if (user.isAdmin) { %>
      <button class="delete-post"><a href="/delete/<%= post._id %>">Delete Post</a></button>
      <% } %> <% } %>
    </section>
    <% }) %> <% } %>
  </section>
</section>
